# This file lists the dependencies of this extension.
# Install with a command like: pip install -r pip-requirements.txt
lxml==2.2.4
boto==2.8.0
filechunkio==1.5
mock==1.0.1
pyoai==2.4.4
urllib3==1.6.0
xlrd==0.9.2
flake8==2.1.0
